body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(252, 248, 246);
    text-align: right;
    
  }
  
  h1 {
    text-align: center;
    color: hsl(0, 4%, 5%);
    text-decoration: double;
  }
  h2,p{color: #c00f0f;
  text-align: right;}
  
  form {
    max-width: 500px;
    text-align: right;
    margin: 0 auto;
    margin-top: 20px;
    direction: rtl;
  }
  
  label {
    display: block;
    margin-top: 10px;
    max-width: fit-content;
    block-size: 20%;
    border: 2cm;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    text-align: right;
    direction: rtl;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }
  
h3{color: black;
text-align: right;
font-style: italic;
font-weight: bold;}

.background-text {
  background-image: url(imge/1.jpg);
  background-size:auto;
  background-position: center;
  color: white;
  text-align: center;
  
}
